* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
    min-height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
    font-family: 'Press Start 2P', cursive;
    gap: 2em;
}

body > footer {
    position: sticky;
    top: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 0.8em;
    background-color: #46475c;
    box-shadow: inset 4px 4px 0px 0px #333350;
    border: none;
    margin: 0;
    color: #6e83eb;
}

footer a {
    text-decoration: none;
    color: #b2c0d4;
}
footer a:hover {
    color: #808196;
}

#modal-welcome {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-welcome-content {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 2em;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    padding: 10px;
    border: 3px solid white;
    text-align: center;
}
#modal-welcome-content span {
    font-weight: bolder;
}
#modal-welcome-form {
    text-align: center;
}

.modal-input-text {
    font-family: 'Press Start 2P', cursive;
    border: none;
    padding: 0.5em;
    color: #808196;
    width: 40%;
}

#container {
    display: flex;
    flex-direction: column;
    grid-template-areas:
        'heading'
        'playing-area';
    gap: 3em;
}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: white;
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
}

#playing-area {
    display: grid;
    grid-template-areas:
        'left-side board right-side'
        'board-footer board-footer board-footer';
    gap: 2em;
    padding: 2em;
    box-shadow: 10px 5px 5px red;
    background-color: white;
    border-radius: 25px;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    max-width: 8em;
    text-align: center;
    line-height: 1.4;
    font-size: medium;
}

#left-side {
    grid-area: left-side;
}

#right-side {
    grid-area: right-side;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.score {
    border: 3px solid black;
    width: 3em;
    height: 3em;
    display: grid;
    place-content: center;
    font-size: xx-large;
}

#board {
    width: fit-content;
    height: fit-content;
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5em;
    background-color: black;
}

.cell {
    width: 130px;
    height: 130px;
    background-color: white;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 5em;
    user-select: none;
}
.cell:hover {
    background-color: gray;
    box-shadow: 1px 1px 5px gray;
}

.board-footer {
    grid-area: board-footer;
    text-align: right;
    right: 0;
    bottom: 0;
}

#praettorians {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 1rem;
    user-select: none;
    margin-bottom: -100px;
}

#modal-score {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-score-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 2em;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid white;
}

#modal-score-buttons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.button:before {
    top: -3px;
    left: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: content-box;
}

.button {
    height: 2.5em;

    display: inline-block;
    position: relative;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    color: black;
    border: none;
    font-family: 'Press Start 2P', cursive;
}

.button:after {
    left: -3px;
    top: 0;
    border-left: 3px solid white;
    border-right: 3px solid white;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: content-box;
}

.modal-button-yes {
    box-shadow: inset -4px -4px 0px 0px #26804b;
    background: #29c04f;
    width: 20%;
}

.modal-button-yes:hover {
    background: #8cffa9;
}

.modal-button-yes:active {
    box-shadow: inset 4px 4px 0px 0px #26804b;
}

.modal-button-no {
    box-shadow: inset -4px -4px 0px 0px #b84074;
    background: #f0698f;
    width: 20%;
}

.modal-button-no:hover {
    background: #ffa8bf;
}

.modal-button-no:active {
    box-shadow: inset 4px 4px 0px 0px #b84074;
}

.modal-button-continue {
    box-shadow: inset -4px -4px 0px 0px #475494;
    background: #6e83eb;
}

.modal-button-continue:hover {
    background: #9eaeff;
}

.modal-button-continue:active {
    box-shadow: inset 4px 4px 0px 0px #475494;
}

@media screen and (max-width: 50em) {
    #playing-area {
        grid-template-areas:
            'left-side right-side'
            'board board'
            'board-footer board-footer';
        display: grid;
        place-content: center;
        padding: 10px;
    }
    .cell {
        width: 80px;
        height: 80px;
        font-size: 3em;
    }
    .modal-button-no {
        width: 70px;
    }
    .modal-button-yes {
        width: 70px;
    }
}
